<h3>Upload files</h3>

<form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <h6 class="head-title margin-top-8"><span>UPLOAD</span></h6>
      </div>
    </div>

    <div class="col-sm-6 text-center">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="customFile"
          name="myfile"
          (change)="onFileSelect($event)"
          #UploadFileInput
        />
        <label class="custom-file-label" for="customFile">{{
          fileInputLabel || "Choose File"
        }}</label>
      </div>
    </div>
    <div>
      <input type="text" name="test" id="" />
    </div>
    <div class="col-sm-6 text-center">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!this.fileUploadForm.valid"
      >
        Upload
      </button>
    </div>
  </div>
</form>

<small *ngIf="myFile.errors && myFile.errors.invalidFileType">{{
  myFile.errors.invalidFileType
}}</small>
<br />
<small *ngIf="myFile.errors && myFile.errors.invalidFileSize">{{
  myFile.errors.invalidFileSize
}}</small>
